@page
@model Auto_Degree_Map.Pages.AutoMap.CreateCourseModel

@{
    ViewData["Title"] = "CreateCourse";
}

<h1>CreateCourse</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Course ID:</p>
            <div class="form-group">
                <label asp-for="Course.CourseID" class="control-label"></label>
                <input asp-for="Course.CourseID" class="form-control" />
                <span asp-validation-for="Course.CourseID" class="text-danger"></span>
            </div>
            <p>Course name:</p>
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <p>Course credits:</p>
            <div class="form-group">
                <label asp-for="Course.Credits" class="control-label"></label>
                <input asp-for="Course.Credits" class="form-control" />
                <span asp-validation-for="Course.Credits" class="text-danger"></span>
            </div>
            <p>Course grade:</p>
            <div class="form-group">
                <label asp-for="Course.Grade" class="control-label"></label>
                <input asp-for="Course.Grade" class="form-control" />
                <span asp-validation-for="Course.Grade" class="text-danger"></span>
            </div>

            <p>Course passed:</p>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type ="checkbox" class="form-check-input" value="True" asp-for="Course.Pass" /> @Html.DisplayNameFor(model => model.Course.Pass)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="ViewCourses">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
